<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Alumno</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <button (click)="irAInicio()">Inicio</button>
          </div>
          <div>
            <button (click)="irARegistroAlumno()">Registro Alumno</button>
          </div>
        <button>Cierra Sesión</button>
    </header>

    <main>
        <h1>Registro Alumno</h1>
        <form>
            <div>
                <label for="descripcion">Nombre Alumno*</label>
                <textarea [(ngModel)]="nombreEstudiante" name="nombreEstudiante" id="descripcion"></textarea>
            </div>
            <div>
            <div>
                
                </div>

                @if (showError) {
                    <p style="color: red;">Debes seleccionar exactamente {{ minSelection }} materias.</p>
                }
                <p>Materias seleccionadas: {{ selectedCount }}</p>

                <table mat-table [dataSource]="listMateria" class="mat-elevation-z8" multiTemplateDataRows>

                    <ng-container matColumnDef="nombreMateria">
                      <th mat-header-cell *matHeaderCellDef> Materia </th>
                      <td mat-cell *matCellDef="let materia"> {{materia.nombreMateria}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="nombreProfesor">
                      <th mat-header-cell *matHeaderCellDef> Profesor </th>
                      <td mat-cell *matCellDef="let materia"> {{materia.nombreProfesor}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="checkbox">
                      <th mat-header-cell *matHeaderCellDef> Selección </th>
                      <td mat-cell *matCellDef="let materia">
                        <input 
                          type="checkbox" 
                          [id]="'materia-' + materia.IdMaterias"
                          [value]="materia.idMaterias"
                          [checked]="materia.selected"
                          [disabled]="!materia.selected && selectedCount >= maxSelection"
                          (change)="onCheckboxChange(materia, $event)"
                        />
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                    
            </div>
            <div>
                <button mat-raised-button (click)="validarForm()">Registrar</button>
                <button mat-raised-button (click) = "irAInicio()">Cancelar</button>
            </div>
        </form>
    </main>
</body>
</html>
