<div class="body-container">
  <!-- Formulario fijo -->
  <div class="form-section">
    <form novalidate>
      <div class="form-row">
        <label for="descripcion">Nombre Alumno*</label>
        <input
          type="text"
          [(ngModel)]="nombreEstudiante"
          name="nombreEstudiante"
          id="descripcion"
          placeholder="Ingresa el nombre del estudiante"
          class="form-input"
        />
        <div class="form-buttons">
          <button mat-raised-button color="primary" (click)="validarForm()">Registrar</button>
          <button mat-raised-button color="warn" (click)="irAInicio()">Cancelar</button>
        </div>
      </div>
      
    </form>
  </div>

  <!-- Tabla con scroll -->
  <div class="table-section"><div class="form-row">
    <label for="search">Buscar Materias:</label>
    <input
      type="text"
      id="search"
      name="search"
      placeholder="Buscar materia"
      class="form-input"
    />
  </div>
    <p>Materias seleccionadas: {{ selectedCount }}</p>
    <div class="table-container">
      <table mat-table [dataSource]="listMateria" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="nombreMateria">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let materia"> {{ materia.nombreMateria }} </td>
        </ng-container>
        <ng-container matColumnDef="nombreProfesor">
          <th mat-header-cell *matHeaderCellDef> Profesor </th>
          <td mat-cell *matCellDef="let materia"> {{ materia.nombreProfesor }} </td>
        </ng-container>
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef> Selección </th>
          <td mat-cell *matCellDef="let materia">
            <input
              type="checkbox"
              [id]="'materia-' + materia.IdMaterias"
              [value]="materia.idMaterias"
              [checked]="materia.selected"
              [disabled]="!materia.selected && selectedCount >= maxSelection"
              (change)="onCheckboxChange(materia, $event)"
            />
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>