<mat-toolbar color="primary" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)">
  <button mat-icon-button (click)="sidenav.toggle()" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Administración de Estudiantes</span>
  <span class="spacer"></span>
  <div class="desktop-menu">
    <button color="#005cbb" mat-button (click)="irAInicio()">Inicio</button>
    <button color="#005cbb" mat-button (click)="irARegistroAlumno()">Registro Alumno</button>
    <button color="#005cbb" mat-button (click)="cerrarsesion()">Cerrar sesion</button>
  </div>
</mat-toolbar>