<app-header></app-header> <!-- Header de la página -->

<mat-card class="main-card">
  <!-- Encabezado del card -->
  <mat-card-header class="card-header">
    <div class="header-content">
      <h1>{{ pageTitle }}</h1> <!-- Título dinámico -->
    </div>
  </mat-card-header>

  <!-- Contenido dinámico dentro del card -->
  <mat-card-content class="card-body">
    <router-outlet></router-outlet> <!-- Aquí se cargan las vistas -->
  </mat-card-content>
</mat-card>

<app-footer></app-footer> <!-- Footer de la página -->
