
<app-header *ngIf="showLayout" ></app-header> <!-- Header de la página -->

<mat-card class="main-card" *ngIf="showLayout" >
  <!-- Encabezado del card -->
  <mat-card-header class="card-header">
    <div class="header-content">
      <h1>{{ pageTitle }}</h1> <!-- Título dinámico -->
    </div>
  </mat-card-header>
  
  <mat-card-content class="card-body">

<router-outlet></router-outlet> <!-- Aquí se cargan las vistas -->

  </mat-card-content>
</mat-card>

<router-outlet *ngIf="!showLayout"></router-outlet>

<app-footer *ngIf="showLayout"></app-footer> <!-- Footer de la página -->
